numpy>=1.22
pandas>=1.4
torch>=1.2
tqdm>=4.64

# Documentation
sphinx==5.0.2
sphinx_rtd_theme==1.0
numpydoc==1.4.0

# Tests
flake8==4.0.1
tox==3.25.1
pytest-runner==6.0.0
pytest==7.1.2

# Deployement
pip==23.3
bumpversion==0.6
wheel==0.38.2
